<!--*********-->
<!--Meeseeks*-->
<!--index.htm-->
<!--*********-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script type='text/javascript' src='/javascript/knockout.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/awesomplete.css">
        <script src="javascript/awesomplete.js"></script>

        <title>Meeseeks</title>

    </head>

    <body>
        <!--Jumbotron-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class='navbar-header'>
              <a class="navbar-brand" href="#">Meeseeks</a>
            </div>
            <ul class="nav navbar-nav" style="text-align: right;">
              <li><a href="/auth/facebook" class="btn btn-primary" data-bind="visible: !isSignedIn()">
                <span class="fa fa-facebook"></span> Facebook Sign-In</a>
              </li>
              <li><a href="/logout" class="btn btn-danger" data-bind="visible: isSignedIn()">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron jumbotron-fluid text-center mb-0">
            <div class="container">
                <img src="resources/jumbotron-image.png" alt="Title Image" height="400">
                <input type="text" id="searchbar" class="form-control" placeholder="Search...">
            </div>
        </div>

        <!--Popular Searches card-->
        <div class="card">
            <div class="card-header bg-primary">
                <h1 class="text-light">Popular Searches</h1>
            </div>

            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Phones</h2>
                        <ul class="list-inline">
                            <a href="/product?productName=iPhone X"><li class="list-inline-item text-center">
                                <img src="resources/phones/iPhone X.png" alt="iPhone X" style="height: 30vh;">
                                <h3>iPhone X</h3>
                            </li></a>
                            <a href="/product?productName=Galaxy S8"><li class="list-inline-item text-center">
                                <img src="resources/phones/Galaxy S8.png" alt="Galaxy S8" style="height: 30vh;">
                                <h3>Galaxy S8</h3>
                            </li></a>
                            <a href="/product?productName=iPhone 8"><li class="list-inline-item text-center">
                                <img src="resources/phones/iPhone 8.png" alt="iPhone 8" style="height: 30vh;">
                                <h3>iPhone 8</h3>
                            </li></a>
                            <a href="/product?productName=Pixel"><li class="list-inline-item text-center">
                                <img src="resources/phones/Pixel.png" alt="Pixel" style="height: 30vh;">
                                <h3>Pixel</h3>
                            </li></a>
                            <a href="/product?productName=iPhone 6S"><li class="list-inline-item text-center">
                                <img src="resources/phones/iPhone 6S.png" alt="iPhone 6S" style="height: 30vh;">
                                <h3>iPhone 6S</h3>
                            </li></a>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h2>Apps</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item text-center">
                                <img src="resources/apps/facebook.png" alt="Facebook" style="height: 20vh;">
                                <h3>Facebook</h3>
                            </li>
                            <li class="list-inline-item text-center">
                                 <img src="resources/apps/pokemon go.png" alt="Pokemon Go" style="height: 20vh;">
                                 <h3>Pokemon Go</h3>
                            </li>
                            <li class="list-inline-item text-center">
                                 <img src="resources/apps/snapchat.png" alt="Snapchat" style="height: 20vh;">
                                 <h3>Snapchat</h3>
                            </li>
                            <li class="list-inline-item text-center">
                                 <img src="resources/apps/uber.png" alt="Uber" style="height: 20vh;">
                                 <h3>Uber</h3>
                            </li>
                            <li class="list-inline-item text-center">
                                  <img src="resources/apps/airbnb.png" alt="Airbnb" style="height: 20vh;">
                                <h3>Airbnb</h3>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">Video Games</li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var app = {isSignedIn: ko.observable()};
                var getSignedInStatus = function(){
                    $.get("/isLoggedIn", function(data){
                        if(data === true || data === false)
                            app.isSignedIn(data);
                        else
                            app.isSignedIn(false);
                    }).fail(function(err){app.isSignedIn(false)});
                }
                var addProductOption = function(productName){
                    var lst = $("#productList");
                    var newProduct = $("<option value='" + productName + "'>");
                    lst.append(newProduct)
                }

                $.get("/products", function(products){
                    new Awesomplete(document.getElementById("searchbar"), {list: products});
                })
                getSignedInStatus();
                ko.applyBindings(app)
            })
        </script>
    </body>
</html>