<!--****************-->
<!--Meeseeks********-->
<!--post.html-->
<!--****************-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src='/javascript/knockout.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/common.js"></script>
    <script src="/javascript/post.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

  </head>

<body class="bg-secondary">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-sm bg-dark mb-5" navbar-dark>
        <a href="/" class="navbar-brand">
            <img src="resources/home-button.png" alt="logo" style="width: 40px;">
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 1</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 2</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 3</button></a>
            </li>
        </ul>
    </nav>

    <!--middle content-->
    <div class="container">
        <div class="row">
            <!--product image-->
            <div class="col-xl-3">
                <img data-bind="attr: {src: imageSource}" alt="iPhone X" style="height: 50vh;">
            </div>

            <!--OP and comments-->
            <div class="col-xl-9">
                <div class="card">

                    <a data-bind="attr: {href: productPath}">
                        <div class="card-header bg-primary text-light"><h2 data-bind="text: productName"></h2></div></a><br>
                     <div class="container" id="alertDiv" style="text-align: center;"></div>
                    
                    <div class="card-block">
                        <ul class="list-group" id="postList">

                            <!--OP-->
                            <li class="list-group-item">
                                <small data-bind="text: howLongAgo"></small>
                                <h3 class="mb-0" data-bind="text: bugTitle"></h3>
                                <span class="badge" id="postTypeBadge"></span>
                                <small class="font-weight-bold text-secondary" data-bind="text: posterName"></small>
                                <div class="row">
                                    <div class="col-xl-1 text-center">
                                        <p>&#9650;</p>
                                        <p data-bind="text: upvotes"></p>
                                        <p>&#9660;</p>
                                    </div>
                                    <div class="col-xl-11">
                                        <p data-bind="text: bugDescription"></p>
                                        <!-- <video src="resources/post-video.mp4" controls></video> -->
                                    </div>
                                </div>
                            </li>

                            <!--buttons for changing the type of comment you're viewing-->
                            <li class="list-group-item text-center">
                                <div class="btn-group">
                                    <button id="btnQuestions" type="button" class="btn">Questions</button>
                                    <button id="btnSolutions" type="button" class="btn">Solutions</button>
                                    <button id="btnCompany" type="button" class="btn">Company Responses</button>
                                </div>
                            </li>

                            <!--New Comment Form-->
                            <li class="list-group-item">
                                <form>
                                    <div class="form-group">
                                        <label>New Comment</label>
                                        <textarea class="form-control" id="commentDescription"></textarea>
                                        <br>
                                        <button type="button" id="submitComment" class="btn">Submit</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>