<!--***********-->
<!--Meeseeks***-->
<!--iPhone X.htm-->
<!--***********-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src='/javascript/knockout.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/common.js"></script>
    <script src="/javascript/product.js"></script>
</head>

<body class="bg-secondary">

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-sm bg-dark mb-5" navbar-dark>
        <a href="/" class="navbar-brand">
            <img src="resources/home-button.png" alt="logo" style="width: 40px;">
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 1</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 2</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Link 3</button></a>
            </li>
        </ul>
    </nav>

     <!--modal containing form to submit new post-->
    <div class="modal fade" id="newBugFormModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!--modal header-->
                <div class="modal-header">
                    <h1 class="modal-title">Submit a new bug</h1>
                </div>

                <form> 
                <!--modal body-->
                <div class="modal-body">   
                        <div class="container" id="modalAlertDiv" style="text-align: center;"></div>                                 
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Add a descriptive title">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="bugDescription" placeholder="Provide enough detail for others to reproduce the issue"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="btn-group" id="buttonGroup">
                                <button type="button" value="form" class="btn btn-warning">Form</button>
                                <button type="button" value="function" class="btn btn-danger">Function</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Optional: Upload a picture or video to help explain the bug</label>
                            <br>
                            <input type="file">
                        </div>
                </div>

                <!--modal footer-->
                <div class="modal-footer">
                    <button type="button" id="postSubmit" class="btn btn-primary">Submit</button>
                    <button type="button" id="dismiss" class="btn btn-danger" data-dismiss="modal">Discard</button>
                </div>
                
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <!--Product Image-->
            <div class="col-md-3">
                <img data-bind="attr: {src: imageSource}" alt="iPhone X" style="height: 50vh;">
            </div>

            <!--Posts column-->
            <div class="col-xl-9">
                <div class="card">

                    <!--Column header-->
                    <div class="card-header bg-primary text-light"><h2 data-bind="text: productName"></h2></div><br>
                    <div class="container" id="alertDiv" style="text-align: center;"></div>

                    <!--button to open modal to make new post-->
                    <div data-bind='visible: isLoggedIn' class="list-group-item">
                        <button type="button" id="newBug" class="btn btn-success" data-toggle="modal" data-target="#newBugFormModal">Submit a new bug</button>
                    </div>

                    <!--First post-->
                    <div class="card-block">
                        <div class="list-group" id="postList">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>
</html>